/* Color Palette */

:root {
  --cream: #E7FBFB;
  --gray: #424242;
  --brown: #914E0B;
  --orange: #FF6D24;
}

/* Web Resets */

html {
  box-sizing: border-box;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
  background-color: var(--cream);
}

img {
  height: auto;
  max-width: 100%;
}

/* Styles */

input, textarea {
  padding: 5px;
  width: 100%;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center center;
}

.col4 {
  display: grid;
  grid-column: 2 / 4;
}

.grid-item-container {
  display: grid;
  place-items: center center;
  padding: 5%;
  overflow: hidden;
}

.grid-image {
  width: 100%;
  height: 100%;
}

.grid-container-1 {
  margin: 2%;
  padding: 1%;
  display: grid;
  grid-gap: 10px;
}

.grid-container-4 {
  margin: 2%;
  padding: 1%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
  justify-items: center;
}

.topHeader {
  color: var(--orange);
  text-align: center;
}

@media only screen and (max-width: 650px) {
    .grid-item {
        overflow: hidden;
    }
}
